

.hard-level {
        overflow: hidden;
        position: relative;
        height: 80vh;
        background: $background;
        box-shadow: 20px 20px 40px rgb(102, 5, 5);
     img {
        width: 12%;
        height: 19%;
        border-radius: 50%;
        }
}
