.reset-button {
    display: flex;
    justify-content: space-between;
}
.reset, .hard-panel, .easy-level, .bonus-level {
    font-size: 4rem;
    text-align: center;
    display: inline-block;
    background: $background;
    border-radius: 51px;
    letter-spacing: 0.3rem;
    position: relative;
    transition: all 0.2s ease-in-out;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 30px;
}

.reset:hover, .hard-panel:hover, .easy-level:hover, .bonus-level:hover {
    background: white;
    color: $background;
    bottom: 10px;
    right: 10px;
    box-shadow: 20px 20px 40px rgb(102, 5, 5);
}

.start-button {
    display: block;
    background: yellow;
    margin: 0 auto;
    text-align: center;
}


