body {
    height: 100vh;
}

.wrapper  {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.start-game {
    height: 100vh;
}

.play-area {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-top: 25%;
    overflow: hidden;
    height: 60vh;
    background: rgb(58, 58, 58);
    box-shadow: 20px 20px 40px rgb(102, 5, 5);
}

.game-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.hacker-hole {
    display: flex;
    justify-content: space-between;
}

.hacker-person img {
    border-radius: 50%;
    position: relative;
    top: 149px;
    width: 36%;
}

.hacker-hole img {
    width: 100%;
}


