@media only screen and (max-width: 1080px) {

    // easy level
    .wrapper2 {
        h2 {
            font-size: 5rem;
        }
        .reset, .hard-panel, .easy-level {
            font-size: 3rem;
            width: 100%;
            padding: 20px 25px;
        }
    } 

    .play-area {
        padding-top: 31%;
    }
}

@media only screen and (max-width: 980px) {

    // easy level
    .wrapper2 {
        .hard-panel, .wrapper1 .wrapper1 .easy-level {
            font-size: 3.5rem;
            padding: 17px 25px;
        }
        .bounceInUp {
            animation-duration: 4s;
        }
    }   

    .play-area {
        padding-top: 37%;
    }    
}

@media only screen and (max-width: 880px) {

    // easy level
    .wrapper2 {
        h2 {
            font-size: 4.5rem;
        }
    }
    .play-area {
        padding-top: 47%;
    }    
}

@media only screen and (max-width: 840px) {

    // easy level 
    .wrapper2 {
        h2 {
            font-size: 4rem;
        }
    }

    .play-area {
        padding-top: 42%;
    }
}

@media only screen and (max-width: 770px) {

     // easy level 
    .wrapper2 {
        h2 {
            font-size: 3.5rem;
        }
    }

    .play-area {
        padding-top: 47%;
    }
}

@media only screen and (max-width: 675px) {

    // First page
    .hidden-dash {
        visibility: hidden;
    }
    .wrapper1 {
        padding-right: 0;
        padding-left: 0;
        h1 {
            font-size: 7rem;
        }
        h2 {
            margin: 3px 0;
        }
    }

    // easy level
    .wrapper2 {
        width: 90%;
        .reset, .hard-panel, .easy-level {
            font-size: 3rem;
            padding: 32px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .play-area {
        padding-top: 48%;
    }
}


@media only screen and (max-width: 540px) {

    // First page
    h1 {
        font-size: 6.5rem;
    }

    // easy level
    .wrapper2 {
        .reset, .hard-panel, .easy-level {
            font-size: 2rem;    
        }
    }

    .play-area {
        padding-top: 53%;
    }
}

@media only screen and (max-width: 480px) {

    // First page
    h1 {
        font-size: 5.5rem;
    }

    .reset, .hard-panel, .easy-level, .bonus-level {
        font-size: 3rem;
        padding: 20px 22px;
    }

    // easy level
    .play-area {
        padding-top: 53%;
    }
}

@media only screen and (max-width: 420px) {

    // First page
    .reset, .hard-panel, .easy-level, .bonus-level {
        padding: 20px 20px;
    }

    // easy level
    .play-area {
        padding-top: 99%;
    }
}

@media only screen and (max-width: 340px) {
    
    // First page
    .wrapper {
        h1 {
            font-size: 4.5rem;
        }
    }

    .reset, .hard-panel, .easy-level, .bonus-level {
        font-size: 2rem;
        padding: 20px 18px;
    }

    //  easy level
        .play-area {
            padding-top: 115%;
        }
}

@media only screen and (max-width: 320px) {

    .reset, .hard-panel, .easy-level, .bonus-level {
        padding: 20px 16px;
    }
}