.play-area {
    display: flex;
}

// .hacker-person img {
//     width: 60%;
//     display: block;
//     margin: 0 auto;
// }

// .hacker-hole img {
//     width: 80%;
//     display: block;
//     margin: 0 auto;
// }

// .hacker-hole {
//     position: relative;
//     z-index: 1;
// }

.laptop-section.laptop {
    position: relative;
    display: flex;
}

.hacker-person {
    position: absolute;
}





