$background: rgb(58, 58, 58);
@import "partials/setup";
@import "partials/_buttons.scss";
@import "partials/play-section";
@import "partials/hard-level";
@import "partials/first-page";
@import "partials/easy-level";
@import "partials/countdown";


/* font-family: 'Montserrat', sans-serif; */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Luckiest Guy', arial, italic;
    background: crimson;
    color: white;
    // height: 100vh;
    overflow: auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size:10rem;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    h3 {
        text-decoration: underline;
    }
    p {
        text-align: center;
    }
}

.show {
    display: block;
}

@keyframes bop {
 0% {
     top: 100%;
            }

            10%, 50%, 20% {
                margin-left: 400px;
            }
            100% {
                top: 0%;
            }

}

.bop {
    animation-name: bop;
    animation-duration: 5s;
}


@import "partials/mediaquery";

span {
    margin-left: 10px;
}

